.newarrivals-body {
  background-color: var(--background);
  padding: 50px;
}

.newarrivals-cardMedia {
  background-color: white !important;
  height: 300px;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  position: relative;
}

.newarrivals-cardMedia .new-patch {
  position: absolute;
  padding: 3px 10px;
  background-color: var(--primary);
  color: var(--background);
  border-radius: 16px; 
  left: 10px;
  top: 10px;
  text-align: center;
}
