.newarrivals-body {
  background-color: var(--background);
  padding: 50px;
}

.newarrivals-cardMedia {
  background-color: white !important;
  height: 300px;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  position: relative;
}


