.sectionheader {
  margin-bottom: 20px;
  text-align: center;
}
.sectionheader h1 {
  margin: auto;
}
.paper {
  background-color: var(--background) !important;
  position: relative;
  overflow: hidden;
  height: 220px;
  width: auto;
}
.paper img {
  transition: 0.4s;
}
.paper:hover img {
  transform: scale(1.08);
}
.paper .content {
  position: absolute;
  text-align: left;
}
.title {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.paper .content h6 {
  color: var(--text-secondary);
  font-size: 20px;
  width: fit-content;
  transition: 0.4s;
  position: relative;
  cursor: pointer;
}
.paper:hover .content h6 {
  color: var(--primary);
}
.paper .content h6::after {
  content: "";
  position: absolute;
  background-color: var(--primary);
  width: 0%;
  height: 0px;
  left: 0;
  bottom: 0;
  transition: 0.4s;
}
.paper:hover .content h6::after {
  width: 100%;
  height: 1px;
}
.paper img {
  position: absolute;
  height: auto;
}

.techimg {
  right: -5%;
  bottom: -6%;
  width: 360px;
}
.watchesimg {
  right: -10%;
  bottom: -34%;
  width: 210px;
}
.sunglassesimg {
  right: 3%;
  bottom: -3%;
  width: 210px;
}
.accessoriesimg {
  right: 0%;
  top: -18%;
  width: 210px;
}

/* responsive */
@media (max-width: 900px) {
  .paper .content {
    left: 20px;
    top: 20px;
  }
  .paper .content h1 {
    font-size: 24px;
  }
  .paper .content h2 {
    font-size: 12px;
  }

  .techimg {
    right: -5%;
    bottom: -1%;
    width: 220px;
  }
  .watchesimg {
    width: 180px;
    right: 0%;
    bottom: -17%;
  }

  .sunglassesimg {
    right: 3%;
    top: 0%;
  }
  .accessoriesimg {
    right: 0%;
    top: 6%;
    width: 160px;
  }
}
@media (max-width: 600px) {
  .techimg {
    right: -5%;
    bottom: -1%;
    width: 250px;
  }

  .sunglassesimg {
    top: -10%;
  }
  .paper .content h1 {
    font-size: 32px;
  }
  .paper .content h2 {
    font-size: 16px;
  }
}
